.container {
  padding: 13rem;
}

.header {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.layout {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}

.card {
  justify-content: center;
}

@media (min-width: 940px) {
  .layout {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 8rem;
    row-gap: 3rem;
  }
}

@media (min-width: 1280px) {
  .layout {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 10rem;
    row-gap: 3rem;
  }
}
